header{
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 1399px) {
    header .container{
        max-width: 100%;
    }
}
#header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-animation: headerSlideDown .95s ease forwards;
    animation: headerSlideDown .95s ease forwards;
    padding-top: 0 !important;
    background-color: #fff;
}

@-webkit-keyframes headerSlideDown {
    0% {
      margin-top: -100px; }
    to {
      margin-top: 0; } }

.navbar-brand{
    margin-right: 0;
}
.navbar-brand img{
    width: 220px;
    height: auto;
}

.navbar-expand-xl{
    padding: 0;
}

.dropdown-menu {
    box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.06);
    background-color: #fff;
    border-radius: 12px !important;
    padding: 0;
    border: 0;
}

.dropdown-mega .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    max-width: none !important;
}
.single-menu {
    padding: 20px 16px;
}
.offcanvas-backdrop{
    background: rgba(30, 34, 40, 0.7);
}
.offcanvas-backdrop.fade {
    opacity: 0;
    display: none;
}
.offcanvas-backdrop.show {
    opacity: 1;
    display: block;
}
.offcanvas.offcanvas-start{
    width: 20rem;
}
.navbar-expand-xl .dropdown-toggle:after {
    content: "" !important;
    width: 17px;
    height: 16px;
    display: none;
    /* background-image: url('/assets/images/icons/chevron-up.svg'); */
    background-position: center;
    background-size: contain;
    vertical-align: -3px;
    transform: rotate(-180deg);
    transition: all 400ms ease-out;
    margin-right: 0;
    border: none !important;
}


.navbar-expand-xl .dropdown-toggle img{
    display: none;
    transition: all 400ms ease-out;
}

.navbar-expand-xl .dropdown-toggle.show img{
    transition: all 400ms ease-out;
    transform: rotate(0deg);
}

.navbar-expand-xl .dropdown:hover .dropdown-toggle:after {
    transform: rotate(0);
    transition: all 400ms ease-out;
}
.navbar-nav .nav-item .nav-link{
    margin-bottom: 0;
    padding: 2.2rem 1rem;
    cursor: pointer;
}
.navbar-nav .nav-item .nav-link span{
    font-size: 16px;
}
.navbar-nav .nav-item .nav-link:hover span{
    color: var(--tx-primary-color);
}
@media (min-width: 1200px) {
    .navbar-expand-xl.navbar-light .dropdown:not(.dropdown-submenu) > .dropdown-toggle:after {
        color: #99A2B2;
    }
    .navbar-expand-xl .dropdown-mega,
    .navbar-expand-xl .navbar-nav {
        position: static !important;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu:before {
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        z-index: -1;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu .dropdown-toggle:after {
        position: absolute;
        margin-right: 0;
        right: 1rem;
        top: 0.15rem;
        font-size: 0.85rem;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu.mega-menu {
        margin-left: 0.75rem !important;
        margin-right: 0.75rem !important;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        display: none;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown-menu {
        top: 120%;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        display: none;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown:not(.dropdown-submenu):hover > .dropdown-menu {
        top: 101%;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transition: all 0.25s ease-in-out;
        display: block;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown-submenu {
        position: relative;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown-submenu .dropdown-menu {
        top: 30%;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown-submenu.dropstart:before {
        position: absolute;
        left: -1rem;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        z-index: -1;
    }
    .navbar-expand-xl:not(.hover-none) .navbar-nav .dropdown-submenu:hover > .dropdown-menu {
        top: 0;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transition: all 0.25s ease-in-out;
    }
    .navbar-expand-xl .dropend > .dropdown-menu {
        margin-left: 0.5rem;
    }
    .navbar-expand-xl .dropstart > .dropdown-menu {
        margin-right: 0.5rem;
    }
    .dropdown-menu.show{
        top: 101% !important;
        display: block !important;
    }
    .navbar-expand-xl .offcanvas-nav {
        position: unset;
        flex-direction: row;
    }
    .navbar-expand-xl .offcanvas-nav.offcanvas-end,
    .navbar-expand-xl .offcanvas-nav.offcanvas-start {
        width: 100%;
    }
    .navbar-expand-xl[class*="navbar-bg-"]:not(.fancy):not(.extended):not(.fixed) .navbar-collapse .nav-link {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }
    .navbar-expand-xl.transparent:not(.fixed) {
        padding-top: 0rem;
    }
    .navbar-expand-xl.navbar-dark:not(.transparent) .navbar-nav .dropdown:not(.dropdown-submenu):not(.language-select) > .dropdown-menu,
    .navbar-expand-xl.navbar-light:not(.transparent) .navbar-nav .dropdown:not(.dropdown-submenu):not(.language-select) > .dropdown-menu,
    .navbar-expand-xl.transparent.fixed .navbar-nav .dropdown:not(.dropdown-submenu):not(.language-select) > .dropdown-menu {
        margin-top: 0.5rem;
    }
    .navbar-expand-xl .navbar-collapse .nav-link {
        white-space: nowrap;
    }
    .navbar-expand-xl .mega-menu-content {
        padding: 38px 30px;
    }
    .navbar-expand-xl .mega-menu-img {
        padding: 0 !important;
    }
    .navbar-expand-xl .mega-menu-img .mega-menu-content {
        padding: 0.2rem 2rem !important;
        margin: 1.8rem 0 !important;
    }
    .navbar-expand-xl .mega-menu-img .dropdown-item {
        padding-left: 0;
        padding-right: 0;
    }
}

button.hamburger {
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0 0 0 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #343f52;
    width: 20px;
    margin-left: 15px;
    transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    button.hamburger {
        transition: none;
    }
}
button.hamburger::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.hamburger:focus {
    outline: 0;
}
button.hamburger>span {
    height: 2px;
    width: 100%;
    display: block;
    background: #1d1d1d;
}
.transparent-bg button.hamburger>span {
    background: #fff;
}

button.hamburger>span:nth-child(2) {
    margin: 4px 0 4px auto;
    width: 75%;
    transition: 0.3s all;
}

button.hamburger>span:nth-child(3) {
    margin-left: auto;
    width: 45%;
    transition: 0.6s all;
}

button.hamburger:hover>span:nth-child(2), button.hamburger:hover>span:nth-child(3) {
    width: 100%;
}

.gap-10{
    gap: 10px;
}
.offcanvas-header .btn-close {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: calc(var(--bs-offcanvas-padding-y) * -0.5);
    margin-right: calc(var(--bs-offcanvas-padding-x) * -0.5);
    margin-bottom: calc(var(--bs-offcanvas-padding-y) * -0.5);
    background: none;
    width: auto;
    height: auto;
}

.offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}
@media (max-width: 1199.98px) {
    .navbar-brand{
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    .navbar-expand-xl .offcanvas-nav {
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
    }
    .navbar-expand-xl .offcanvas-nav .offcanvas-body,
    .navbar-expand-xl .offcanvas-nav .offcanvas-footer,
    .navbar-expand-xl .offcanvas-nav .offcanvas-header {
        width: 100%;
    }
    .navbar-expand-xl .offcanvas-nav .offcanvas-body {
        overflow-y: auto;
        flex-grow: 0;
    }
    .navbar-expand-xl .navbar-collapse .nav-link {
        padding: 0.5rem 0rem;
    }
    .mega-menu-content {
        padding: 20px 10px;
    }
    .dropdown-menu {
        box-shadow: none;
    }
    .navbar-expand-xl .dropdown-toggle:after {
        display: none;
    }
    .navbar-expand-xl .dropdown-toggle img{
        margin-left: 0.3rem;
        position: absolute;
        right: 0;
        top:10px;
        transform: rotate(-180deg);
        display: inline-flex;
    }
}

header .nav-item .nav-link{
    text-transform: uppercase;
    color: var(--tx-htag-color);
    font-weight: 600;
    font-size: 16px;
}

.single-menu {
    width: 300px;
}

.single-card a, .masterbactch-card-menu a {
    display: flex;
    color: var(--tx-body-color);
    text-decoration: none;
    font-weight: 500;
    padding: .5rem;
    border-radius: 4px;
}

.masterbactch-card-menu{
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 6px;
}
.plastCardMenu{
    padding: 10px;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 1199.98px) {
    .plastCardMenu {
        flex-direction: column;
    }  
}
header .tab-content>.active{
    display: flex;
}
.masterbactch-card-menu a{
    justify-content: space-between;
    align-items: center;
}

.single-card a:hover, .masterbactch-card-menu a:hover, .masterbactch-card-menu a.active {
    color: var(--tx-primary-color);
    background-color: var(--tx-secondary-color);
}

.menu-card {
    gap: 8px;
}
header .nav-item .ft-chevron-down {
    transition: transform 400ms ease-out;
    display: inline-block;
  }
header .dropdown:hover .ft-chevron-down{
    transform: rotate(180deg);
}
.mega-card {
    justify-content: space-between;
    gap: 15px;
    flex-direction: inherit;
}

.polymers-menu h3{
    padding: .5rem !important;
}

@media (max-width: 576px) {
    .navbar-brand img{
        width: 135px;
    }
}