@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --tx-font-family: "Urbanist", sans-serif;
  --tx-primary-color: #228B22;
  --tx-primary-light: #f4f9f7;
  --tx-htag-color: #212529;
  --tx-body-font: #777;
  --tx-secondary-color: #F5F5DC;
  --white-color: #fff;
  --bg-footer:#1f2220;
  --tx-transition: all 0.3s ease-in-out;
  --tx-box-shadow: 0 20px 60px rgba(0,0,0,.08) ;
}

body {
  font-family: var(--tx-font-family);
  line-height: 1.5;
  color: var(--tx-body-font);
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--tx-htag-color);
  font-weight: 600;
}

b, strong {
  font-weight: 700;
}

.text-left {
  text-align: left !important;
}

.match-box {
  display: flex;
  flex-wrap: wrap;
}

.dflex {
  display: flex;
  flex-direction: column;
}

.ms-card {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.tx-bg-secondary-light {
  background-color: var(--tx-secondary-color);
}

.header-top {
  padding: 0.5rem 0;
  background-color: var(--tx-primary-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}
.header-top .header-info {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header-top .header-info li {
  padding-right: 10px;
  display: inline-flex;
}
.header-top .header-info li a, .header-top .header-info li span {
  display: inline-flex;
  gap: 6px;
  font-weight: 600;
  color: var(--tx-htag-color);
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  color: #fff;
}
.header-top .header-info li a i, .header-top .header-info li span i {
  font-size: 24px;
}

.social-header {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0;
}
.social-header li {
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  display: inline-flex;
  padding: 0 15px;
}
.social-header li:last-child {
  border-right: none;
  padding-right: 0;
}
.social-header li a {
  padding: 0;
  display: inline-flex;
}
.social-header li a i {
  color: #fff;
}
.social-header li a:hover i {
  color: var(--tx-secondary-color);
}
.social-header li a svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.social-header li a svg path {
  fill: #fff;
}

.navButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 576px) {
  .navButtons {
    gap: 10px;
  }
}
.navButtons a {
  text-transform: uppercase;
  color: var(--tx-htag-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
@media (max-width: 576px) {
  .navButtons a {
    font-size: 12px;
  }
}
.navButtons a:hover {
  color: var(--tx-primary-color);
}
.navButtons button {
  border: none;
  outline: none;
  background-color: var(--tx-secondary-color);
  color: var(--tx-primary-color);
  border-radius: 6px;
  width: 40px;
  height: 40px;
  position: relative;
}
@media (max-width: 576px) {
  .navButtons button {
    width: 30px;
    height: 30px;
  }
}
.navButtons button span {
  width: 14px;
  height: 14px;
  background-color: var(--tx-primary-color);
  color: #fff;
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  line-height: 1;
}

.media {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media .media-left i {
  font-size: 34px;
}
.media .media-body span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2px;
  display: block;
  line-height: 1;
}
.media .media-body a {
  color: var(--tx-htag-color);
  font-size: 22px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  transition: transform 400ms ease-out;
}
.media .media-body a:hover {
  color: var(--tx-primary-color);
}

.top-banner {
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.top-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.top-banner .banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.top-banner .banner-content .sub-title {
  position: relative;
  text-align: center;
}
.top-banner .banner-content .sub-title h6 {
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.125rem;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  color: #fff;
}
.top-banner .banner-content h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .top-banner .banner-content h1 {
    font-size: 2.3rem;
  }
}
.top-banner .banner-content p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.svg-stroke-color-primary {
  stroke: var(--tx-primary-color) !important;
}

.svg-fill-color-primary {
  fill: var(--tx-primary-color) !important;
}

.theme-btn {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
.theme-btn.btn-style-three {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  padding: 8px 8px 8px 28px;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--tx-primary-color);
}
.theme-btn.btn-style-three:before {
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background-color: var(--tx-secondary-color);
}
.theme-btn.btn-style-three:hover:before {
  top: -40%;
}
.theme-btn.btn-style-three:hover b {
  background-color: var(--tx-primary-color);
}
.theme-btn.btn-style-three b {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: 15px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s ease;
  background-color: var(--tx-secondary-color);
}
.theme-btn.btn-style-three .btn-wrap {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
}
.theme-btn.btn-style-three .btn-wrap .text-one {
  position: relative;
  display: block;
  color: var(--white-color);
  transition: all 0.3s ease;
}
.theme-btn.btn-style-three .btn-wrap .text-one b i {
  color: var(--tx-primary-color);
}
.theme-btn.btn-style-three .btn-wrap .text-two {
  position: absolute;
  top: 100%;
  display: block;
  color: var(--tx-primary-color);
  transition: all 0.3s ease;
}
.theme-btn.btn-style-three .btn-wrap .text-two b i {
  color: #fff;
}
.theme-btn.btn-style-three .btn-wrap:hover .text-one {
  color: var(--tx-primary-color);
}
.theme-btn.btn-style-three .btn-wrap:hover .text-one b i {
  color: #fff;
}

.section-pd {
  padding: 90px 0;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.footer {
  background-color: var(--bg-footer);
  padding-top: 80px;
  position: relative;
}
.footer .tx-footer {
  padding-bottom: 40px;
}
.footer .tx-footer h3 {
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .footer .tx-footer h3 {
    font-size: 1.6rem;
  }
}
.footer .tx-footer h4 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .footer .tx-footer h4 {
    font-size: 18px;
  }
}
.footer .tx-footer span {
  font-weight: 600;
  margin-bottom: 3px;
}
.footer .tx-footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: column;
}
.footer .tx-footer a {
  color: #828282;
  transition: var(--tx-transition);
  font-size: 18px;
  text-decoration: none;
  display: block;
}
@media (max-width: 767px) {
  .footer .tx-footer a {
    font-size: 16px;
  }
}
.footer .tx-footer a:hover {
  color: var(--tx-secondary-color);
}
.footer .copyright-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding: 10px 0;
}
@media (max-width: 480px) {
  .footer .copyright-footer {
    text-align: center;
  }
}
.footer .copyright-footer img {
  filter: brightness(0) invert(1);
  width: 130px;
  height: auto;
  padding: 10px 0;
}
.footer .copyright-footer p {
  margin-bottom: 0;
  text-align: right;
}
.footer .copyright-footer p a {
  color: inherit;
  text-decoration: none;
}
.footer .copyright-footer p a:hover {
  color: #fff;
}
@media (max-width: 992px) {
  .footer .copyright-footer p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .footer .copyright-footer p {
    text-align: center;
  }
}
.footer .custom-svg-3 {
  position: absolute;
  right: 0;
  top: -150px;
  width: 150px;
}
@media (max-width: 1024px) {
  .footer .custom-svg-3 {
    width: 90px;
  }
}
@media (max-width: 767px) {
  .footer .custom-svg-3 {
    width: 70px;
    top: -70px;
  }
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
}
.section-title h4 {
  display: inline-flex;
  color: var(--tx-primary-color);
  font-size: 18px;
  position: relative;
}
.section-title h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--tx-primary-color);
  left: 0;
  bottom: -3px;
}
.section-title h3 {
  font-size: 2rem;
}
.section-title p {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .section-title p {
    width: 100%;
  }
}

.shape {
  position: absolute;
  display: inline-flex;
  width: 130px;
  height: 130px;
}
@media (max-width: 567px) {
  .shape {
    display: none;
  }
}
.shape.shape1 {
  top: 80px;
  left: 0;
}
.shape.shape2 {
  top: 10px;
  right: -10px;
}

.categoryAction {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--tx-box-shadow);
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;
  height: 100%;
}
@media (max-width: 992px) {
  .categoryAction {
    height: auto;
  }
}
@media (max-width: 500px) {
  .categoryAction {
    flex-direction: column;
  }
}
.categoryAction .categoryLeft {
  padding: 40px 30px;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 500px) {
  .categoryAction .categoryLeft {
    width: 100%;
  }
}
.categoryAction .categoryLeft h4 {
  margin-bottom: 10px;
}
.categoryAction .categoryLeft span.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--tx-primary-color);
  padding: 10px;
  margin-bottom: 20px;
}
.categoryAction .categoryLeft span.icon img {
  filter: brightness(0) invert(1);
  width: 60px;
  height: auto;
}
.categoryAction .categoryRight {
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 365px;
  display: inline-flex;
  width: 50%;
}
@media (max-width: 992px) {
  .categoryAction .categoryRight {
    min-height: 450px;
  }
}
@media (max-width: 500px) {
  .categoryAction .categoryRight {
    width: 100%;
    min-height: 300px;
  }
}

.text-link {
  position: relative;
  color: var(--tx-primary-color);
  display: inline-flex;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.text-link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--tx-primary-color);
}

.about-box {
  padding: 30px 20px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: var(--tx-box-shadow);
  border: 1px solid #e3e3e3;
  text-align: center;
  overflow: hidden;
  margin-top: 30px;
}
.about-box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  right: -80px;
  top: -80px;
  border-radius: 50%;
  background-color: var(--tx-primary-color);
  filter: blur(100px);
  z-index: -1;
  opacity: 0.5;
}
.about-box .icon {
  width: 80px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--tx-secondary-color);
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-box p {
  margin-bottom: 0;
}

.testimonial-box {
  position: relative;
  display: flex;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  background-color: var(--tx-primary-light);
  min-height: 300px;
  margin-top: 40px;
}
.testimonial-box:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 20px;
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23228B22' height='72px' width='72px' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M13,11c0.6,0,1-0.4,1-1s-0.4-1-1-1c-5,0-9,4-9,9c0,2.8,2.2,5,5,5s5-2.2,5-5s-2.2-5-5-5c-0.3,0-0.7,0-1,0.1 C9.3,11.8,11,11,13,11z'/%3E%3Cpath d='M23,13c-0.3,0-0.7,0-1,0.1c1.3-1.3,3-2.1,5-2.1c0.6,0,1-0.4,1-1s-0.4-1-1-1c-5,0-9,4-9,9c0,2.8,2.2,5,5,5s5-2.2,5-5 S25.8,13,23,13z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.testimonial-box .testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: calc(100% - 40px);
}
.testimonial-box .testimonial-content p {
  color: var(--tx-htag-color);
}
.testimonial-box .testimonial-content .author-info {
  display: flex;
  align-items: center;
  gap: 15px;
  border-top: 1px solid rgba(0, 156, 38, 0.3098039216);
  padding-top: 15px;
}
.testimonial-box .testimonial-content .author-info span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--tx-secondary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.testimonial-box .testimonial-content .author-info span i {
  color: var(--tx-primary-color);
  font-size: 1.2rem;
}
.testimonial-box .testimonial-content .author-info h5 {
  margin-bottom: 0;
}

.swiper-slide, .swiper-wrapper {
  cursor: url("../images/icon-move-black.png"), move;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: #fff;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-out;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 35px rgba(40, 42, 54, 0.18);
  display: none;
}
@media (max-width: 1100px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
  }
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff;
  background-color: var(--tx-theme-color);
}
.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  filter: brightness(0) invert(1);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  left: 50px !important;
}
@media (max-width: 1100px) {
  .swiper-button-prev {
    left: 0 !important;
  }
}

.swiper-button-next {
  right: 40px !important;
}
@media (max-width: 1100px) {
  .swiper-button-next {
    right: 0 !important;
  }
}

.swiper-pagination {
  bottom: 0px !important;
  top: inherit;
}

.gallery-swiper {
  width: 100%;
  margin: 4px 0;
  z-index: -1;
}
.gallery-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.gallery-swiper .swiper-slide {
  width: auto !important;
  margin-right: 30px;
}
.gallery-swiper .swiper-slide .gallery-pic {
  width: 450px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: none;
}

.contantUsHome .section-title h3 {
  font-size: 4rem;
}
@media (max-width: 767px) {
  .contantUsHome .section-title h3 {
    font-size: 2rem;
  }
}

.newsletterSection {
  position: relative;
}
.newsletterSection::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--bg-footer);
}
.newsletterSection .subscribe-box {
  background-image: url("../images/newsletter-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 350px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  padding: 50px;
}
.newsletterSection .subscribe-box .abs-img {
  display: inline-flex;
  position: absolute;
  top: -27px;
  left: -159px;
  z-index: -1;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-weight: 600;
  color: var(--tx-htag-color);
  margin-bottom: 0;
}
.form-group .inputField {
  position: relative;
}
.form-group .inputField .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.form-group .inputField .icon i {
  color: var(--tx-htag-color);
}
.form-group .inputField .icon.textarea-icon {
  top: 15px;
}
.form-group .inputField .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--tx-htag-color);
  padding: 12px 0;
  padding-right: 30px;
  background-color: transparent;
}
.form-group .inputField .form-control:focus, .form-group .inputField .form-control:hover, .form-group .inputField .form-control:active {
  border-color: var(--tx-primary-color);
  box-shadow: none;
  outline: none;
}

.error-msg {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 2px;
  position: absolute;
}

.is-invalid {
  border-color: red;
}/*# sourceMappingURL=style.css.map */